@model TaskEditViewModel
@{
    ViewData["Title"] = "Edycja zadania";

}


@foreach (var t in Model.TaskEdit)
{
    <div class="container">
    <a class="hrefWithIcon" href="~/Task">
        <p class="icon">⬅</p>
        <p class="text">Powrót</p>
    </a>
    <div class="row justify-content-center">
        <div class="card-body">
            <h3 style="padding:20px">Edytowanie zadania</h3>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <form asp-action="EditTaskAssignedUpdate" id="form-action" method="post" role="form">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Tytuł:</span>
                            <input asp-for="Title" class="form-control" value="@t.Title" required />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Data wykonania: </span>
                            <input asp-for="Date" class="form-control" type="date" id="txtDate" />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Opis:</span>
                            <input asp-for="Description" class="form-control" value="@t.Description" required />
                        </div>
                        <input asp-for="UserId" class="form-control" value="@User.Identity.Name" type="hidden"
                            required />
                        <input asp-for="Id" class="form-control" value="@t.Id" type="hidden" required />
                        <div class="d-grid gap-5 d-md-flex justify-content-md-center">
                            <a class="btn btn-outline-primary me-md-2" href="~/Task">Anuluj</a>
                            <button type="submit" class="btn btn-primary me-md-2">Gotowe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
}