@model FriendListViewModel

@{
    ViewData["Title"] = "Osoby";
}

<div class="container">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">
            <div class="row justify-content-center">
                @TempData["Message"]
            </div>
        </div>
    }
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="/Task">
                                <p class="dtext">Twoje zadania</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Task/AddTask">
                                <p class="dtext">Dodaj zadanie</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Task/AssignedTask">
                                <p class="dtext">Zlecone zadania</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/Task/Friends">
                                <p class="dtext">Osoby</p>
                            </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/Task/AddFriend">
                                <p class="dtext">Dodaj osobe</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Task/History">
                                <p class="dtext">Historia</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="row">
                        <h3>Osoby</h3>
                        <table class="table table-hover">
                            <thead>
                            <tr class="table-primary">
                                    <th scope="col">Email</th>
                                    <th scope="col">Akcja</th>
                                </tr>
                            </thead>
                            <tbody> 
                                @foreach( var t in Model.FriendList){
                            <tr>
                                    <td>@t.User2</td>
                                     <td><input class="btn btn-link" type="submit" value="Usuń"
                                            onclick="DeleteFriend(@t.Id)" /></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        </div>
                </div>
            </div>
        </div>
  
    </div>  
</div>

