@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="waviy">
            <span style="--i:1">T</span>
            <span style="--i:2">A</span>
            <span style="--i:3">S</span>
            <span style="--i:4">K</span>
            <span style="--i:5">S</span>
        </div>
    </div>
    <div class="row justify-content-center">
    <div class="row align-items-center" style="padding:10px;">
            <p class="p">The TASKS web portal is a place where you can effectively manage your time and tasks. Thanks to it, you can create a to-do list, add more tasks to it and set deadlines for their implementation. Thanks to this, everything is organized and nothing escapes our attention. The TASKS portal is an ideal solution for people who value efficiency and order.</p>
        </div>
        <div class="col-sm-6 col-md-6" style="padding:10px">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/img/1.png" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/img/2.png" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/img/3.png" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/img/4.png" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/img/5.png" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        
    </div>
    <hr class="hr" />
    <h4 class="h">Mobility</h4>
    <div class="row align-items-center">
        <div class="col-sm-6 col-md-6" style="padding:10px">
            <p class="p">If you are looking for an effective tool for managing your time and tasks that will be available on all mobile devices and operating systems, then the Tasks web portal is the perfect solution for you. Thanks to this, you can use it anytime and anywhere, no matter where you are or what device you are working on.</p>
        </div>
        <div class="col-sm-6 col-md-6" style="padding:10px">
            <img class="d-block w-100" src="/img/device.png" alt="First slide">
        </div>
    </div>
    <hr class="hr" />
    <h4 class="h">Technology</h4>
    <div class="row align-items-center">
        <div class="col-sm-6 col-md-6" style="padding:10px">
            <img class="d-block w-100" src="/img/asp.jpeg" alt="First slide">
        </div>
        <div class="col-sm-6 col-md-6" style="padding:10px">
            <p class="p">The TASKS internet portal is a tool created with attention to detail and using the latest technologies. Its code was written using HTML, CSS and C# using the ASP .NET CORE framework, and a database in the form of an app.db file was used to store the data. In the process of creating the portal, the Bootstrap library and jQuery were also used, which makes its interface clear and intuitive. Thanks to this, the TASKS portal is not only an effective tool for managing time and tasks, but also aesthetically and functionally designed.</p>
        </div>
    </div>
</div>

