@page
@model LoginModel

@{
    ViewData["Title"] = "Zaloguj";
}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="/Identity/Account/Login">Zaloguj</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Register">Zarejestruj</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row" style="padding:20px">
                    <div class="col-md-12">
                    <h1>@ViewData["Title"]</h1>
                    <section>
                        <form id="account" method="post">
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username"
                                    aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email" class="form-label">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password"
                                    aria-required="true" placeholder="password" />
                                <label asp-for="Input.Password" class="form-label">Hasło</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div>
                                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Zaloguj</button>
                            </div>
                            <div>
                                <p style="padding:20px">
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Zarejestruj jako nowy użytkownik</a>
                                </p>
                               
                            </div>
                        </form>
                    </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
